#Wifi credentials
secrets.h

# macOS system files
.DS_Store

# IDE and editor settings
.vscode/
.idea/

# Arduino and PlatformIO specific files
lib/
*.ino
*.elf
*.hex
*.bin
*.dSYM/
*.o
*.a
*.d
*.log

# Build and cache files
build/
dist/
*.obj
*.exe
*.out

# C++ specific
*.cmake
CMakeFiles/
CMakeCache.txt

# Python virtual environment
venv/
__pycache__/
*.py[cod]

# PlatformIO specific
.pio/
.pioenvs/
.clang_complete
